/* Richard Davies, Data Science for Economists */

/* This is my second CSS file */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap');


/* Set the background color for my page: */

/* Book on colour = Joseph Albers - Interaction of Colour */

body {
    background: linear-gradient(-45deg, #483f3c, #41245a, #0f4356, #195a74);
    background-size: 100%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
 
    50% {
        background-position: 100% 50%;
    }
 
    100% {
        background-position: 0% 50%;
    }
}


/* Choose the appearance of the tags, h1, h3 and p: */
h1, h3, p{
    color:rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}
    
.myWeek1{
    margin: auto;
    max-width: 700px;
    background-color: white;

    border-width: 6px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
}


/* Set the apperance of the class, chart */
.chart{
    background-color: rgb(255, 255, 255);
    width: 320px;
    border-width: 5px;
    border-style: round;
    border-radius: 5px;
    border-color: rgb(7, 3, 40);
    
}
